<h1>New empresa</h1>

<%= error_messages_for :empresa %>

<% form_for(@empresa) do |f| %>
  <p>
    <b>Nome</b><br />
    <%= f.text_field :nome %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', empresas_path %>
