<h1>Requisições pendentes</h1>


<% if @requisicoes.empty? -%>
  <i>Nenhuma requisição</i><br />
<% else -%>
  <% for requisicao in @requisicoes %>
<%= render :partial => "requisicao", :object => requisicao %>
<% end %>
<% end -%>

<br />

<%= link_to 'Nova requisição', new_empresa_requisicao_path %>
